* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font-family;
}

body {
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  display: inline-block;
}

.container {
  padding: $mob-padding-tb $mob-padding-rl;
}

@media (min-width: 768px) {
  .container {
    width: 660px;
    padding: 0 $tabl-padding-rl;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding: 0 15px;
  }
}
