@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

@import 'helpers/variables';
// @import 'helpers/mixins';
@import 'normalize';
@import 'base';

// Components
@import 'components/logo';
@import 'components/form';

// Layout
@import 'layout/header';
@import 'layout/footer';


 .basic-qustions_headline {
   font-size: 20px;
   font-weight: 800;
   color: #1b202a;
   margin-bottom: 25px;
   letter-spacing: -0.07em;
 }
 .basic-questions_list {
   list-style: none;
 }
 
 .basic-questions_item {
   font-size: 14px;
   line-height: 20px;
   padding-left: 36px;
 }
 
 .basic-questions_item:nth-child(-n + 4) {
   margin-bottom: 20px;
 }
 
 .basic-questions_item::before {
   content: "";
   display: inline-block;
   width: 20px;
   height: 12px;
   background-image: url(../images/arrow.svg);
   background-position: center;
   background-repeat: no-repeat;
   margin-left: -34px;
   margin-right: 12px;
 }
 
 /* section2 */
 
 .consult-wrapper {
   background-color: #edf0f2;
 }
 
 .consult {
   margin: 0 auto;
   padding: 36px 47px 36px 47px;
 }
 .consult-headline {
   font-size: 20px;
   font-weight: 800;
   color: #1b202a;
   margin-bottom: 25px;
   letter-spacing: -0.07em;
 }
 
 .consult-list {
   list-style: none;
   margin: auto;
   margin-bottom: 35px;
 }
 
 .consult_item {
   width: 100%;
   height: 229px;
   padding: 40px 40px 40px 30px;
   background-color: #ffffff;
   box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16);
   font-size: 16px;
   color: #222222;
   letter-spacing: -0.07em;
   position: relative;
 }
 
 .consult_item:nth-child(-n + 2) {
   margin-bottom: 39px;
 }
 .consult_item::after {
   content: "";
   display: block;
   position: absolute;
   left: -20px;
   bottom: -15px;
   top: 14px;
   right: 15px;
   background: #e6e9eb;
   z-index: -1;
 }
 
 .consult_item::before {
   content: "";
   display: block;
   position: absolute;
   background-image: url(../images/01@1x.png);
   width: 50px;
   height: 35px;
   right: 0px;
   top: -26px;
   bottom: 0px;
 }
 
 .consult-button {
   display: block;
   margin: 0 auto;
   width: 100%;
   height: 106px;
   background-color: rgb(255, 112, 42);
   box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
   border: none;
   font-size: 14px;
   font-weight: 800;
   text-align: center;
   padding: 29px 20px 28px 20px;
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
 }
 
 /* section3 */
 
 .section {
   margin: 0 auto;
   padding: 36px 30px 36px 30px;
 }
 .interest-headline {
   font-size: 20px;
   font-weight: 800;
   color: #1b202a;
   margin-bottom: 25px;
   letter-spacing: -0.07em;
 }
 
 .interest-label {
   font-size: 14px;
   font-weight: 700;
   margin-bottom: 22px;
   color: #1b202a;
   letter-spacing: -0.03em;
 }
 
 .stat-list {
   list-style: none;
   margin-bottom: 24px;
   padding-left: 18px;
   padding-right: 18px;
 }
 .stat-list_item:nth-child(-n + 5) {
   margin-bottom: 20px;
 }
 .stat-list_item:nth-child(6) {
   position: relative;
 }
 
 .stat-list_item:nth-child(6)::before {
   content: " ";
   display: block;
   position: absolute;
   background-image: url(../images/map.png);
   background-size: cover;
   left: -7px;
   right: -40px;
   top: -47px;
   bottom: -68px;
   z-index: -1;
 }
 
 .stat-number {
   font-size: 30px;
   font-weight: 700;
   color: #00eaff;
 }
 
 .stat-number_descr {
   font-size: 14px;
   font-weight: 400;
   color: #1b202a;
 }
 
 .stat-incoming_container {
   padding-left: 18px;
   padding-right: 18px;
 }
 .stat-incoming {
   font-size: 14px;
   font-weight: 700;
   color: #1b202a;
 }
 
 .incoming-list {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
 }
 
 .incoming-list_item {
   /* width: 111px; */
   width: 45%;
   display: inline-block;
 }
 
 .incoming-number {
   font-size: 25px;
   font-weight: 700;
   color: #00eaff;
   letter-spacing: -0.07em;
 }
 .incoming-number_descr {
   font-size: 10px;
   line-height: 11px;
   font-weight: 400;
 }
 .offer-headline {
   font-size: 20px;
   font-weight: 800;
   color: #1b202a;
   margin-bottom: 25px;
   letter-spacing: -0.07em;
 }
 .offer-list {
   list-style: none;
   margin-bottom: 36px;
   padding-left: 18px;
   padding-right: 18px;
 }
 
 .offer-list_item {
   position: relative;
   padding-left: 20px;
   font-size: 14px;
   color: #1b202a;
 }
 
 .offer-list_item:nth-child(-n + 4) {
   margin-bottom: 18px;
 }
 
 .offer-list_item::before {
   content: "";
   position: absolute;
   display: inline-block;
   width: 12px;
   height: 12px;
   background-color: #00eaff;
   left: -17px;
   top: 4px;
 }
 
 /* section4 */
 
 .ITway-wrapper {
   background-color: #181c27;
   background-image: url(../images/LayerWallpaperHeaderTablet.png);
 }
 
 .ITway {
   padding-top: 38px;
   padding-bottom: 40px;
 }
 
 .ITway-label {
   font-size: 16px;
   font-weight: 700;
   color: #ffffff;
 }
 
 .ITway-label::after {
   display: block;
   content: "";
   width: 60px;
   height: 2px;
   background-color: #00eaff;
   margin-top: 26px;
   margin-bottom: 18px;
 }
 .ITwork-container {
   margin-bottom: 30px;
 }
 .ITway-descr {
   font-size: 14px;
   font-weight: 700;
   color: #ffffff;
 }
 
 .ITway-descr span {
   font-size: 14px;
   font-weight: 400;
   color: #dbdbdb;
 }
 
 .ITway-headline {
   font-size: 20px;
   line-height: 26px;
   font-weight: 700;
   color: #00eaff;
   margin-bottom: 24px;
   letter-spacing: -0.07em;
 }
 
 .ITway-button {
   display: block;
   margin: 0 auto;
   width: 100%;
   height: 70px;
   background-color: rgb(255, 112, 42);
   box-shadow: 0px 2px 10px 0px rgba(255, 107, 8, 0.59);
   border: none;
   font-size: 14px;
   font-weight: 800;
   line-height: 70px;
   text-align: center;
   color: #ffffff;
   text-decoration: none;
   text-transform: uppercase;
 }
 
 /* section5 */
 
 .awards-headline {
   font-size: 20px;
   font-weight: 800;
   color: #1b202a;
   margin-bottom: 25px;
   letter-spacing: -0.07em;
 }
 
 .awards-label {
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   font-weight: 800;
   color: #222222;
   background-color: #edf0f2;
   margin-bottom: 50px;
 }
 
 /* .awards-wrapper {
   padding-left: 18px;
   padding-right: 18px;
 } */
 .awards-list {
   list-style: none;
   margin-bottom: 60px;
 }
 
 .awards-item {
   width: 100%;
   margin: 0 auto;
   box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16);
   background-color: #ffffff;
   padding: 30px;
   position: relative;
 }
 
 .awards-item::after {
   content: "";
   display: block;
   position: absolute;
   left: -20px;
   bottom: -20px;
   top: 17px;
   right: 15px;
   background: #e6e9eb;
   z-index: -1;
 }
 
 .awards-item:nth-child(-n + 2) {
   margin-bottom: 60px;
 }
 
 .awards-item img {
   margin: auto;
   margin-top: 25px;
 }
 
 .award-name {
   font-size: 18px;
   text-transform: uppercase;
   font-weight: 800;
   margin-bottom: 20px;
 }
 
 .award-descr {
   font-size: 14px;
   line-height: 21px;
   font-weight: 800;
 }
 
 .awards-item span {
   font-size: 14px;
   line-height: 21px;
   color: #6b6f7a;
 }
 
 .wins-wrapper {
   padding-left: 18px;
   padding-right: 18px;
 }
 
 .wins-label {
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   font-weight: 800;
   color: #222222;
   background-color: #edf0f2;
   margin-bottom: 50px;
 }
 
 .wins-name {
   font-size: 24px;
   text-transform: uppercase;
   font-weight: 800;
   margin-bottom: 20px;
   position: relative;
 }
 
 .wins-name::before {
   content: "";
   display: block;
   position: absolute;
   background-image: url(/images/OON.png);
   background-repeat: no-repeat;
   left: 43px;
   right: -40px;
   top: -63px;
   bottom: -68px;
   z-index: -1;
 }
 
 .wins-descr {
   font-size: 14px;
   line-height: 21px;
   color: #6b6f7a;
 }
 
 .partners-label {
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   font-weight: 800;
   color: #222222;
   background-color: #edf0f2;
   margin-bottom: 50px;
 }
 
 .partners-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   align-content: space-around;
 }
 .partners-item {
   display: inline-block;
   margin-bottom: 15px;
 }
 
 /* .section5-awards::after {
   display: block;
   content: "";
   width: 60px;
   height: 2px;
   background-color: #00eaff;
   margin-top: 26px;
   margin-bottom: 18px;
 } */
 
 @media (min-width: 768px) {
   .container {
     width: 660px;
     margin: auto;
     padding: 20px;
   }
 
   .section {
     margin: 0 auto;
     padding: 36px 10px 36px 10px;
   }
   .page-header_info {
     width: 576px;
   }
   .page-header_headline {
     font-size: 40px;
     line-height: 50px;
   }
   .page-header_descr2 {
     font-size: 18px;
   }
   .page-header_meeting {
     font-size: 18px;
   }
   .page-header_date {
     font-size: 38px;
   }
   .page-header_form {
     text-align: center;
     padding: 30px 80px 40px 80px;
   }
 
   .basic-qustions_headline {
     font-size: 30px;
   }
 
   .basic-questions_item {
     font-size: 16px;
   }
   .consult-headline {
     font-size: 30px;
     width: 532px;
     text-align: center;
     margin: auto;
     margin-bottom: 50px;
   }
   .consult_item {
     width: 225px;
   }
 
   .consult-list {
     display: flex;
     justify-content: space-between;
   }
 
   .interest-headline {
     text-align: center;
     font-size: 30px;
     margin: auto;
     margin-bottom: 85px;
   }
 
   .inside-container {
     width: 532px;
     margin: auto;
   }
 
   .consult-button {
     height: 70px;
     width: 532px;
   }
 
   .stat-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
   }
   .stat-list_item {
     width: 172px;
   }
   .stat-list_item:nth-child(6)::before {
     background-image: url(../images/mapfortablet.png);
     background-size: auto;
     background-repeat: no-repeat;
     left: -163px;
     right: -10px;
     top: 58px;
     bottom: -170px;
   }
 
   .stat-number {
     font-weight: 600;
   }
   .stat-incoming_container {
     width: 256px;
   }
   .incoming-number {
     font-weight: 600;
   }
   .interest-label {
     width: 404px;
     text-align: center;
     margin: auto;
     margin-bottom: 40px;
     font-size: 18px;
     font-weight: 800;
   }
 
   .offer-headline {
     font-size: 30px;
   }
 
   .offer-list {
     width: 440px;
   }
   .offer-list_item {
     font-size: 16px;
   }
   .ITway-label {
     font-size: 22px;
     letter-spacing: -0.07em;
   }
 
   .ITwork-container {
     width: 384px;
   }
 
   .ITway-headline {
     font-size: 40px;
     line-height: 50px;
   }
 
   .ITway-button {
     width: 532px;
     margin-left: 0;
   }
 
   .awards-headline {
     width: 492px;
     font-size: 30px;
     line-height: 40px;
     margin-left: 40px;
   }
 
   .awards-label{
     margin-left: 40px;
   }
   .awards-list {
     display: flex;
     justify-content: space-between;
   }
   .awards-item {
     width: 225px;
     height: 465px;
   }
 } 