%second-bg {
  background-color: $secondary-bg;
  background-image: url(../images/LayerWallpaperHeaderTablet.png);
}


%title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: -0.07em;
  color: $text-title;
}

@media (min-width: 768px) {
  %title {
    font-size: 30px;
  }

  %second-bg{
    background-color: $secondary-bg;
    background-image: url(../images/HeadWallP1200.png);
  }
  
}

@media (min-width: 1200px) {
  %title {
    font-size: 48px;
  }
}