// Fonts
$main-font-family: "Open Sans", sans-serif;

// Colors
$text: #222222;
$text-form: #000000;
$text-light: #ffffff;
$text-accented: #00eaff;

$main-bg: #ffffff;
// add gradient
// $second-bg: #151d2c;
$button-bg: #ff6b08;
    