// Fonts
$main-font-family: "Open Sans", sans-serif;

// Colors
$text: #222222;
$text-title: #1b202a;
$text-form: #000000;
$text-light: #ffffff;
$text-accented: #00eaff;

$main-bg: #ffffff;
$secondary-bg: #181c27;
$button-bg: #ff6b08;

// Padding
$mob-padding-rl: 30px;
$mob-padding-tb: 36px;
$tabl-padding-rl: 20px;