.wrapper-interest {
  padding: $mob-padding-tb $mob-padding-rl;
  background-color: $main-bg;
}

.interest {
  &-headline {
    @extend %title;
  }
}

// Statistics
.stat {
  &-label {
    margin-bottom: 22px;
    font-size: 14px;
    font-weight: 700;
    color: $text-title;
    letter-spacing: -0.03em;
  }
  &-list {
    list-style: none;
    margin-bottom: 24px;
    padding-left: 18px;
    padding-right: 18px;
    &_item {
      &:nth-child(-n + 5) {
        margin-bottom: 20px;
      }

      &:nth-child(6) {
        position: relative;
      }

      &:nth-child(6)::before {
        content: ' ';
        display: block;
        position: absolute;
        background-image: url(../images/map.png);
        background-size: cover;
        left: -7px;
        right: -40px;
        top: -47px;
        bottom: -68px;
        z-index: -1;
      }
    }
  }
  &-number {
    font-size: 30px;
    font-weight: 700;
    color: #00eaff;
    &_descr {
      font-size: 14px;
      font-weight: 400;
      color: #1b202a;
    }
  }
  &-incoming {
    font-size: 14px;
    font-weight: 700;
    color: #1b202a;
    &_container {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.incoming-list {
  @include flex;
  margin-bottom: 30px;
}

.incoming-list_item {
  /* width: 111px; */
  width: 45%;
  display: inline-block;
}

.incoming-number {
  font-size: 25px;
  font-weight: 700;
  color: #00eaff;
  letter-spacing: -0.07em;
}

.incoming-number_descr {
  font-size: 10px;
  line-height: 11px;
  font-weight: 400;
}

// Offer
.offer-headline {
  font-size: 20px;
  font-weight: 800;
  color: #1b202a;
  margin-bottom: 25px;
  letter-spacing: -0.07em;
}

.offer-list {
  list-style: none;
  margin-bottom: 36px;
  padding-left: 18px;
  padding-right: 18px;
}

.offer-list_item {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  color: #1b202a;
}

.offer-list_item:nth-child(-n + 4) {
  margin-bottom: 18px;
}

.offer-list_item::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #00eaff;
  left: -17px;
  top: 4px;
}

@media (min-width: 768px) {
  .interest-headline {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
  }

  .stat {
    position: relative;
    width: 700px;
    margin: auto;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.16);
  
  }

  .stat::before{
    content: "";
    position: absolute;
    left: -18px;
    top: 18px;
    display: block;
    width: 100%;
    height: 100%;
    background: #e6e9eb;
    z-index: -1;
  }

  .stat {
    &-label {
      font-size: 18px;
      line-height: 25px;
      font-weight: 800;
      width: 404px;
      margin: auto;
      margin-bottom: 35px;
      text-align: center;
    }
  }

  .stat-list {
    @include flex(wrap, space-between);
  }

  .stat-list_item {
    width: 172px;
  }

  .stat-list_item:nth-child(6)::before {
    background-image: url(../images/mapfortablet.png);
    background-size: auto;
    background-repeat: no-repeat;
    left: -163px;
    right: -10px;
    top: 58px;
    bottom: -170px;
  }

  .stat-number {
    font-weight: 600;
  }

  .stat-incoming_container {
    width: 256px;
  }

  .incoming-number {
    font-weight: 600;
  }

  .interest-label {
    width: 404px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 800;
  }

  .offer {
    width: 574px;
    margin: auto;
    padding-top: 50px;
  }

  .offer-headline {
    font-size: 30px;
  }

  .offer-list {
    width: 440px;
  }

  .offer-list_item {
    font-size: 16px;
  }
}
