.basic-qustions_headline {
  font-size: 20px;
  font-weight: 800;
  color: #1b202a;
  margin-bottom: 25px;
  letter-spacing: -0.07em;
}

.basic-questions_list {
  list-style: none;
}

.basic-questions_item {
  font-size: 14px;
  line-height: 20px;
  padding-left: 36px;
}

.basic-questions_item:nth-child(-n + 4) {
  margin-bottom: 20px;
}

.basic-questions_item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  background-image: url(../images/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: -34px;
  margin-right: 12px;
}

@media (min-width: 768px) {
  .basic-qustions_headline {
    font-size: 30px;
  }

  .basic-questions_item {
    font-size: 16px;
  }
}