.wrapper-questions {
  background-color: $main-bg;
}

.basic-questions {
  &_headline {
    @extend %title;
  }

  &_list {
    list-style: none;
  }

  &_item {
    padding-left: 36px;
    font-size: 14px;
    line-height: 20px;
    &:nth-child(-n + 4) {
      margin-bottom: 20px;
    }
    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 12px;
      margin-left: -34px;
      margin-right: 12px;
      background-image: url(../images/arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
    }
    & span {
      font-weight: 800;
    }
  }
}

@media (min-width: 768px) {
  .basic-questions {
    &_item {
      font-size: 16px;
    }

    &_headline{
      font-weight: 700;
    }
  }
}

@media (min-width: 1200px) {
  .wrapper-questions {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .basic-questions {
    @include flex(wrap, space-between);

    &_headline {
      width: 503px;
    }

    &_list {
      width: 503px;
    }

    &_item {
      font-size: 18px;
    }
  }
}
