.page-footer {
  background-image: url(../images/phototeam.png);
  text-align: center;
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around; */
}

.make-request {
  display: block;
  font-size: 20px;
  line-height: 60px;
  color: #00eaff;
  font-weight: 800;
  margin-bottom: 300px;
}

.page-footer_label {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
}
