.wrapper-header {
  @extend %second-bg;
}

.page-header {
  margin: 0 auto;
  padding: $mob-padding-tb $mob-padding-rl 26px $mob-padding-rl;

  &_descr {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 26px;
    color: $text-light;
  }

  &_headline {
    font-size: 20px;
    line-height: 26px;
    font-weight: 800;
    color: $text-accented;
    margin-bottom: 24px;
    letter-spacing: -0.07em;
  }

  &_descr2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 26px;
    color: $text-light;
  }

  &_meeting {
    font-size: 14px;
    font-weight: 600;
    color: #f9ae23;
  }

  &_date {
    font-size: 20px;
    font-weight: 800;
    color: #f9ae23;
    margin-bottom: 16px;
  }

  &_privacy {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #5d6066;
  }
}

@media (min-width: 768px) {
  .page-header{
    &_info {
      width: 576px;
    }
    &_headline {
      font-size: 40px;
      line-height: 50px;
    }
    &_descr2 {
      font-size: 18px;
    }
    &_meeting {
      font-size: 18px;
    }
    &_date {
      font-size: 38px;
    }
  }
}